<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Pictures"></Label>
    <ActionItem position="right" (tap)="takePhoto()" ios.position="right" android.position="right">
        <StackLayout>
            <Label text="&#xf030;" class="fa t-24" tintColor="#FF687E" color="#FF687E" marginRight="8"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>

<ScrollView orientation="vertical" class="page page-content" margin="8"
            scrollBarIndicatorVisible="false">
    <GridLayout rows="76, 30, *" columns="*" (swipe)="onSwipe($event)">
        <UserHeader row="0" col="0"></UserHeader>
        <GridLayout row="1" col="0" rows="30" columns="*, *"
                    style="margin: 2; padding: 2; border-top-width: 1; border-top-color: #02556E">
            <Label row="0" col="0" text="&#xf00a;" class="fa t-24" style="text-align: center;"
                   (tap)="toggleDisplay(true)" [color]="displayGrid ? '#02556E' : '#737373'"></Label>
            <Label row="0" col="1" text="&#xf03a;" class="fa t-24" style="text-align: center;"
                   (tap)="toggleDisplay(false)" [color]="!displayGrid ? '#02556E' : '#737373'"></Label>
        </GridLayout>
        <GridLayout *ngIf="displayGrid" row="2" col="0" [rows]="gridRows" columns="*, *, *">
            <Image *ngFor="let picture of pictures; index as i" [row]="rowForIndex(i)" [col]="colForIndex(i)"
                   [src]="picture.url" stretch="aspectFill" margin="4" [nsRouterLink]="['../image', picture.id]"></Image>
        </GridLayout>
        <GridLayout *ngIf="!displayGrid" row="2" col="0" [rows]="listRows">
            <GridLayout [row]="i" rows="auto, *, 40" cols="*" *ngFor="let picture of pictures; index as i" margin="4">
                <StackLayout row="0" col="0">
                    <Label [text]="picture.name" textWrap="true" class="t-24 font-bold"></Label>
                    <Label text="Untertitel" class="t-14"></Label>
                </StackLayout>
                <Image row="1" col="0" [src]="picture.url" (doubletap)="toggleLike(picture, $event, like)"></Image>
                <Label row="1" col="0" #like text="&#xf004;" class="fa t-48" style="text-align: center;" verticalAlignment="center"
                       [color]="picture.liked? 'red' : '#737373'" visibility="collapsed"></Label>
                <GridLayout row="2" col="0" columns="30, 30, 30, *, 30">
                    <Label col="0" text="&#xf004;" class="fa t-24" style="text-align: center; vertical-align: center"
                           [color]="picture.liked? 'red' : '#737373'" (tap)="toggleLike(picture, $event, null)"></Label>
                    <Label col="1" text="&#xf075;" class="fa t-24" style="text-align: center; vertical-align: center"
                           color="#737373" (tap)="message('comment')"></Label>
                    <Label col="2" text="&#xf064;" class="fa t-24" style="text-align: center; vertical-align: center"
                           color="#737373" (tap)="message('share')"></Label>
                    <Label col="4" text="&#xf02e;" class="fa t-24" style="text-align: center; vertical-align: center"
                           color="#737373" (tap)="message('bookmark')"></Label>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</ScrollView>
