<ActionBar class="action-bar">
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label class="action-bar-title" text="SMS versenden"></Label>
</ActionBar>

<GridLayout rows="auto, auto, auto" margin="8">
    <StackLayout row="0">
        <Label text="Telefonnummer" class="t-20 font-bold"></Label>
        <Label [text]="phoneNumber" class="t-20"></Label>
    </StackLayout>
    <StackLayout row="1">
        <Label text="Text" class="t-20 font-bold"></Label>
        <TextView wrapLine="true" height="100" hint="Text" [(ngModel)]="smsText" class="border-gray" verticalAlignment="top"></TextView>
    </StackLayout>
    <Button class="button" row="2" text="senden" (tap)="sendSms()" marginTop="8"></Button>
</GridLayout>

