<ActionBar class="action-bar">
    <ActionItem position="left" (tap)="onBackTap()" ios.position="left" android.position="actionBar">
        <Label [text]="isIos() ? '&#xf053;' : '&#xf054;'" class="fa t-24" tintColor="#FF687E" color="#FF687E" marginLeft="8" marginRight="8"></Label>
    </ActionItem>
    <Label class="action-bar-title" text="SMS versenden"></Label>
</ActionBar>

<GridLayout rows="auto, auto, auto" margin="8">
    <StackLayout row="0">
        <Label text="Telefonnummer" class="t-20 font-bold"></Label>
        <Label [text]="phoneNumber" class="t-20"></Label>
    </StackLayout>
    <StackLayout row="1">
        <Label text="Text" class="t-20 font-bold"></Label>
        <TextView wrapLine="true" height="100" hint="Text" fontSize="16" [(ngModel)]="smsText" class="border-gray" verticalAlignment="top"></TextView>
    </StackLayout>
    <Button class="button" row="2" text="senden" (tap)="sendSms()" marginTop="8"></Button>
</GridLayout>

