<ActionBar class="action-bar">
    <ActionItem position="left" (tap)="onBackTap()" ios.position="left" android.position="left" left="0">
        <StackLayout>
            <Label text="&#xf053;" class="fa t-24" tintColor="#FF687E" color="#FF687E" marginLeft="8"></Label>
        </StackLayout>
    </ActionItem>
    <Label class="action-bar-title" text="E-Mail versenden"></Label>
</ActionBar>

<GridLayout rows="auto, auto, auto, auto" columns="*" margin="8">
    <StackLayout row="0">
        <Label text="E-Mail Adresse" class="t-20 font-bold"></Label>
        <Label [text]="email" class="t-20"></Label>
    </StackLayout>
    <StackLayout row="1">
        <Label text="Betreff" class="t-20 font-bold"></Label>
        <TextField [(ngModel)]="subject" hint="Betreff" class="border-gray" verticalAlignment="top"></TextField>
    </StackLayout>
    <StackLayout row="2">
        <Label text="Text" class="t-20 font-bold"></Label>
        <TextView wrapLine="true" height="100" hint="Text" fontSize="16" [(ngModel)]="emailText" class="border-gray"></TextView>
    </StackLayout>
    <Button class="button" row="3" text="senden" (tap)="sendMail()" marginTop="8"></Button>
</GridLayout>
