<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Plus"></Label>
</ActionBar>

<GridLayout rows="auto, auto, 44, 44" class="page page-content" margin="8">
    <Label col="0" class="t-20 font-bold" text="Text"></Label>
    <TextView row="1" height="200" [(ngModel)]="text" autocorrect="true" wrapLine="true" whiteSpace="normal"
              class="border-gray" hint="Text"></TextView>
    <GridLayout row="2" columns="auto, auto, auto" marginTop="4">
        <Button col="0" class="button" text="sprechen" (tap)="speak()"></Button>
        <Button col="1" class="button" text="aufnehmen" (tap)="listen()"></Button>
        <Button col="2" class="button" text="leeren" (tap)="clear()"></Button>
    </GridLayout>
    <GridLayout row="3" columns="auto, auto" marginTop="4">
        <Button col="0" class="button" text="speichern" (tap)="save()"></Button>
        <Button col="1" class="button" text="aus Datei lesen" (tap)="read()"></Button>
    </GridLayout>
</GridLayout>
