<ActionBar class="action-bar">
    <ActionItem position="left" (tap)="onBackTap()" ios.position="left" android.position="actionBar">
        <Label [text]="isIos() ? '&#xf053;' : '&#xf054;'" class="fa t-24" tintColor="#FF687E" color="#FF687E" marginLeft="8" marginRight="8"></Label>
    </ActionItem>
    <Label class="action-bar-title" text="Termin erstellen"></Label>
</ActionBar>

<ScrollView scrollBarIndicatorVisible="false">
    <GridLayout rows="auto, auto, auto, auto, auto, auto" margin="8">
        <StackLayout row="0">
            <Label text="Betreff" class="t-20 font-bold"></Label>
            <TextField [(ngModel)]="title" hint="Betreff" class="border-gray"></TextField>
        </StackLayout>
        <StackLayout row="1">
            <Label text="Start" class="t-20 font-bold"></Label>
            <TextField [(ngModel)]="start" hint="Beginn" keyboardType="datetime" class="border-gray"></TextField>
        </StackLayout>
        <StackLayout row="2">
            <Label text="Ende" class="t-20 font-bold"></Label>
            <TextField [(ngModel)]="end" hint="Ende" keyboardType="datetime" class="border-gray"></TextField>
        </StackLayout>
        <StackLayout row="3">
            <Label text="Ort" class="t-20 font-bold"></Label>
            <TextField [(ngModel)]="location" hint="Ort" class="border-gray"></TextField>
        </StackLayout>
        <StackLayout row="4">
            <Label text="Notizen" class="t-20 font-bold"></Label>
            <TextField [(ngModel)]="notes" hint="Notizen" class="border-gray"></TextField>
        </StackLayout>
        <Button class="button" row="5" text="senden" (tap)="saveAppointment()" marginTop="8"></Button>
    </GridLayout>
</ScrollView>

