<ActionBar class="action-bar">
    <Label class="action-bar-title" text="User"></Label>
    <ActionItem position="right" [nsRouterLink]="['../device']" ios.position="right" android.position="right">
        <StackLayout>
            <Label text="&#xf013;" class="fa t-24" tintColor="#FF687E" color="#FF687E" marginRight="8"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>

<GridLayout rows="76, 44, auto, auto" class="page page-content" margin="8">
    <UserHeader row="0" col="0"></UserHeader>
    <GridLayout row="1" columns="*, 208, *">
        <Label col="0" text="&nbsp;"></Label>
        <GridLayout col="1" columns="52, 52, 52, 52" verticalAlignment="center">
            <Label col="0" text="&#xf095;" class="fa t-28" [paddingTop]="isIos() ? 0 : 8" color="white" textAlignment="center" minWidth="44"
                   minHeight="44" backgroundColor="#FF687E" borderRadius="22" marginRight="4" marginLeft="4"
                   verticalAlignment="center" horizontalAlignment="center" (tap)="tapped('phone')"></Label>
            <Label col="1" text="&#xf075;" class="fa t-28" [paddingTop]="isIos() ? 0 : 8" color="white" textAlignment="center" minWidth="44"
                   minHeight="44" backgroundColor="#FF687E" borderRadius="22" marginRight="4" marginLeft="4"
                   verticalAlignment="center" horizontalAlignment="center" [nsRouterLink]="['../sms']"></Label>
            <Label col="2" text="&#xf0e0;" class="fa t-28" [paddingTop]="isIos() ? 0 : 8" color="white" textAlignment="center" minWidth="44"
                   minHeight="44" backgroundColor="#FF687E" borderRadius="22" marginRight="4" marginLeft="4"
                   verticalAlignment="center" horizontalAlignment="center" [nsRouterLink]="['../email']"></Label>
            <Label col="3" text="&#xf073;" class="fa t-28" [paddingTop]="isIos() ? 0 : 8" color="white" textAlignment="center" minWidth="44"
                   minHeight="44" backgroundColor="#FF687E" borderRadius="22" marginRight="4" marginLeft="4"
                   verticalAlignment="center" horizontalAlignment="center" [nsRouterLink]="['../calendar']"></Label>
        </GridLayout>
        <Label col="2" text="&nbsp;"></Label>
    </GridLayout>
    <GridLayout row="2" col="0" rows="auto, auto, auto">
        <StackLayout row="0">
            <Label text="Telefonnummer" class="t-20 font-bold"></Label>
            <TextField [(ngModel)]="phoneNumber" hint="+49160 1234567" keyboardType="phone" class="border-gray"></TextField>
        </StackLayout>
        <StackLayout row="1">
            <Label text="E-Mail Adresse" class="t-20 font-bold"></Label>
            <TextField [(ngModel)]="email" hint="hallo@email.com" keyboardType="email" class="border-gray"></TextField>
        </StackLayout>
    </GridLayout>
    <Button row="3" class="button" text="speichern" (tap)="save()" marginTop="8"></Button>

</GridLayout>
