<ActionBar class="action-bar">
    <Label class="action-bar-title" text="User"></Label>
</ActionBar>

<GridLayout rows="76, 35, *" class="page page-content">
    <UserHeader row="0" col="0"></UserHeader>
    <GridLayout row="1" col="0" rows="30" columns="*, *, *, *"
                style="margin: 2; padding: 2; border-top-width: 1; border-top-color: #02556E">
        <Label row="0" col="0" text="" text="&#xf007;" class="fa t-24" style="text-align: center;"
               [color]="currentTab === 'contact' ? '#02556E' : '#737373'" (tap)="changeTab('contact')"></Label>
        <Label row="0" col="1" text="" text="&#xf2b6;" class="fa t-24" style="text-align: center;"
               [color]="currentTab === 'sms' ? '#02556E' : '#737373'" (tap)="changeTab('sms')"></Label>
        <Label row="0" col="2" text="" text="&#xf0e0;" class="fa t-24" style="text-align: center;"
               [color]="currentTab === 'email' ? '#02556E' : '#737373'" (tap)="changeTab('email')"></Label>
        <Label row="0" col="3" text="" text="&#xf133;" class="fa t-24" style="text-align: center;"
               [color]="currentTab === 'calender' ? '#02556E' : '#737373'" (tap)="changeTab('calender')"></Label>
    </GridLayout>

    <GridLayout row="2" col="0" [ngSwitch]="currentTab" >
        <GridLayout *ngSwitchCase="'contact'" [rows]="row('contact')" columns="40, *" margin="4">
            <Image row="0" col="0" src="font://&#xf095;" class="fa t-16" (tap)="call()"></Image>
            <TextField row="0" col="1" [(ngModel)]="phoneNumber" keyboardType="phone"></TextField>
            <Image row="1" col="0" src="font://&#xf0e0;" class="fa t-16"></Image>
            <TextField row="1" col="1" [(ngModel)]="email" keyboardType="email"></TextField>
            <Button row="2" colSpan="2" text="speichern" (tap)="save()"></Button>
        </GridLayout>
        <GridLayout *ngSwitchCase="'sms'" [rows]="row('sms')" columns="40, *" margin="4">
            <Image row="0" col="0" src="font://&#xf095;" class="fa t-16"></Image>
            <Label row="0" col="1" [text]="phoneNumber" class="t-16"></Label>
            <TextField row="1" col="0" colSpan="2" wrapLine="true" [(ngModel)]="smsText"></TextField>
            <Button row="2" colSpan="2" text="senden" (tap)="sendSms()"></Button>
        </GridLayout>
        <GridLayout *ngSwitchCase="'email'" [rows]="row('email')" columns="40, *" margin="4">
            <Image row="0" col="0" src="font://&#xf0e0;" class="fa t-16"></Image>
            <Label row="0" col="1" [text]="email" class="t-16"></Label>
            <TextField row="1" col="0" colSpan="2" [(ngModel)]="subject"></TextField>
            <TextField row="2" col="0" colSpan="2" wrapLine="true" [(ngModel)]="emailText"></TextField>
            <Button row="3" colSpan="2" text="senden" (tap)="sendMail()"></Button>
        </GridLayout>
        <GridLayout *ngSwitchCase="'calender'" [rows]="row('calender')" columns="80, *" margin="4">
            <Label row="0" col="0" text="Betreff" class="t-16"></Label>
            <TextField row="0" col="1" [(ngModel)]="title"></TextField>
            <Label row="1" col="0" text="Start" class="t-16"></Label>
            <TextField row="1" col="1" [(ngModel)]="start" keyboardType="datetime"></TextField>
            <Label row="2" col="0" text="Ende" class="t-16"></Label>
            <TextField row="2" col="1" [(ngModel)]="end" keyboardType="datetime"></TextField>
            <Label row="3" col="0" text="Ort" class="t-16"></Label>
            <TextField row="3" col="1" [(ngModel)]="location"></TextField>
            <Label row="4" col="0" text="Notizen" class="t-16"></Label>
            <TextField row="4" col="1" [(ngModel)]="notes"></TextField>
            <Button row="5" colSpan="2" text="senden" (tap)="saveAppointment()"></Button>
        </GridLayout>
    </GridLayout>


</GridLayout>
