// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
}

.t-48 { font-size: 48; }
.t-36 { font-size: 36; }
.t-32 { font-size: 32; }
.t-28 { font-size: 28; }
.t-24 { font-size: 24; }
.t-20 { font-size: 20; }
.t-16 { font-size: 16; }
.t-8 { font-size: 8; }

.font-bold {
    font-weight: bold;
}

// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

//Action bar
.action-bar {
    background-color: white;
}

.action-bar-title {
    color: $button-color;
}

TabStripItem:active {
    background-color: $button-color;
}
TabStripItem {
    background-color: $white;
}
TabStripItem:active  {
    Image {
        tint-color: $white;
    }
}
TabStripItem {
    Image {
        tint-color: $button-color;
    }
}

.icon {
    height: 60;
    width: 60;
    border-radius: 30;
}

.button {
    background-color: $button-color;
    border-width: 1;
    border-color: $button-color;
    border-radius: 8;
    color: white;
    font-weight: 500;
    margin-left: 4;
    margin-right: 4;
}

.circle-button {
    padding: 8;
    verticalAlignment: center;
    horizontalAlignment: center;
    marginLeft: 4;
    marginRight: 4;
    borderRadius: 22;
    color: $white;
}

.color-blue { color: #02556E; }
.color-gray { color: $side-drawer-header-brand; }
.color-accent { color: $button-color; }
.color-white { color: $white; }

.border-gray { border-width: 1; border-color: $side-drawer-header-brand; border-radius: 8; }
.hr { border-color: $button-color; }
.m-10 { margin: 10; }

