<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<GridLayout rows="auto, auto, auto" columns="*" class="page">
    <GridLayout row="0" columns="50, auto, *" rows="50, auto, *">
        <Label text="GPS Tracking" row="0" col="0" backgroundColor="red"></Label>
        <Button text="track" row="0" col="1" colSpan="2" (tap)="trackPosition()"></Button>
    </GridLayout>
    <GridLayout row="1" columns="100, *">
        <Label col="0" text="Eingabe:"></Label>
        <TextField col="1" [(ngModel)]="name" (returnPress)="onReturnPress($event)"></TextField>
    </GridLayout>
</GridLayout>
