<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<ScrollView>
    <GridLayout rows="auto, auto, auto, auto, auto, auto, auto, auto, auto" columns="*" class="page" margin="8">
        <GridLayout row="0" columns="150, auto" marginTop="8">
            <Label col="0" class="t-20 font-bold" text="Longitude"></Label>
            <Label col="1" class="t-20" [text]="longitude"></Label>
        </GridLayout>
        <GridLayout row="1" columns="150, auto">
            <Label col="0" class="t-20 font-bold" text="Latitude"></Label>
            <Label col="1" class="t-20" [text]="latitude"></Label>
        </GridLayout>
        <GridLayout row="2" columns="150, auto">
            <Label col="0" class="t-20 font-bold" text="Zeitstempel"></Label>
            <Label col="1" class="t-20" [text]="timestamp | date"></Label>
        </GridLayout>
        <GridLayout row="3" columns="150, auto">
            <Label col="0" class="t-20 font-bold" text="Wörter"></Label>
        </GridLayout>
        <GridLayout row="4" columns="150, auto">
            <Label col="0" colSpan="2" class="t-20" [text]="words" textWrap="true"></Label>
        </GridLayout>
        <GridLayout row="5" columns="150, auto">
            <Label col="0" class="t-20 font-bold" text="Ort"></Label>
        </GridLayout>
        <GridLayout row="6" columns="150, auto">
            <Label col="0" colSpan="2" class="t-20" [text]="nearestPlace" textWrap="true"></Label>
        </GridLayout>
        <GridLayout row="7" columns="auto, auto, auto">
            <Button class="button" text="track" row="0" col="0" (tap)="trackPosition()"></Button>
            <Button class="button" text="find Words" row="0" col="1" (tap)="findWordsByPosition()"></Button>
            <Button class="button" text="bluetooth" row="0" col="2" (tap)="scan()"></Button>
        </GridLayout>
        <GridLayout row="8" columns="*" rows="400" *ngIf="located && hasConnection" marginTop="8">
            <Mapbox
                    [accessToken]="apiToken()"
                    mapStyle="traffic_day"
                    [latitude]="latitude"
                    [longitude]="longitude"
                    hideCompass="true"
                    zoomLevel="18"
                    showUserLocation="false"
                    disableZoom="false"
                    disableRotation="false"
                    disableScroll="false"
                    disableTilt="false"
                    (mapReady)="onMapReady($event)">
            </Mapbox>
        </GridLayout>
    </GridLayout>
</ScrollView>
